@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$black: #000;
$white: #fff;
$green: #BAFF00;

*{
	box-sizing: border-box;
}

html{
	overflow-y: auto;
}

body, html{
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	background-color: $black;
	color: $white;
	font-family: "IBM Plex Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}


.menu{
	position: fixed;
	width: 60%;
	margin-left: 40%;
	z-index: 999;
	top: 0;
	text-align: right;
	padding: 10px 2vw;
	a{
		font-size: 24px;
		margin-left: 24px;
	}
}

.site-title{
	top: 14px;
	position: fixed;
	margin-left: 2vw;
	width: 100px;
	max-width: 95vw;
	height: 50px;
	mask-image: url(./logo.svg);
	background-color: $white;
	mask-repeat: no-repeat;
	mask-size: contain;
	transition: all 0.4s ease;
}

.false{
	animation: fadeIn 1s ease 1;
	.site-title{
		width: 100px;
		height: 50px;
		animation-fill-mode: forwards;
		z-index: 99;
	}
}

.home{
	overflow-y: hidden;
	.site-title{
		z-index: -1;
		width: 100vh;
		height: 100vh;
		animation-fill-mode: forwards;
		animation: smallToBig 1s ease 1;
		overflow-y: hidden;
	}
}

@keyframes smallToBig {
  from {width: 100px; height: 50px;}
  to {width: 100vh;  height: 100vh;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

h1{
	font-weight: 300;
	font-size: 48px;
	margin: 14px 0;
}

p{
	font-size: 18px;
	line-height: 1.4;
}

a{
	color: $white;
	text-decoration: none;
}

p a {
	text-decoration: underline;
	color: $white;
}

.container{
	max-width: 1100px;
	display: block;
	margin: auto;
	padding: 14px;
	margin-top: 48px;
	animation-fill-mode: forwards;
	animation: fadeIn 1.5s ease 1;
}

.image-text{
	display: flex;
	min-height: 80vh;
	align-items: center;
	.image{
		width: 45%;
		aspect-ratio: 1/1;
		mix-blend-mode: difference;
	}
	.text{
		width: 55%;
		margin-left: 48px;
		p{
			font-size: 24px;
		}
		a{
			background-color: $green;
			padding: 2px 20px;
			border-radius: 25px;
			text-decoration: none;
			color: $black;
			text-transform: uppercase;
		}
	}
}

.image-section{
	width: 45%;
	display: inline-block;
	margin: 2.5%; 
}

.home-page *{
	max-height: 100vh;
	overflow-y: hidden!important;
}

// .highlights{
// 	overflow-y: hidden;
// 	overflow-x: auto;
//   white-space: nowrap;
// 	position: absolute;
// 	top: 0;
// 	width: 100%;
// }

.highlights{
	overflow: hidden;
	.slick-slide{
		position: relative;
	}
	.slick-active{
		p{
			opacity: 0;
			height: 0;
			overflow-y: scroll;
			animation: textAni 2s ease 1;
			animation-fill-mode: forwards;
		}
	}
	p{
		opacity: 0;
		position: absolute;
		font-size: 18px;
		top: 70vh;
		left: 2vw;
		max-width: 600px;
	}
}

@keyframes textAni {
  0% {opacity: 0; height: 0;}
	50% {opacity: 0; height: 0;}
  100% {opacity: 1; height: 25vh;}
}

.highlights *{
	mix-blend-mode: difference;
	overflow-x: hidden;
}

video{	
	mix-blend-mode: difference;
	height: 100vh;
	width: 75%;
	object-fit: contain;
	object-position: center;
	margin-left: 40%;
}